@model IEnumerable<KurumsalWebProjesi.Models.Model.Kimlik>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>
    @*@Html.ActionLink("Yeni Oluştur", "Create")*@
    <a class="btn btn-dark" href="/Kimlik/Create">Yeni Ekle</a>
</p>
<h1>Site Kimlik Sayfası</h1>
<p></p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Keywords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogoURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unvan)
        </th>
        <th>
            Kimlik Dili
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keywords)
            </td>
            <td>
                @Html.Raw(item.Description)
            </td>
            <td>
                <img class="image-responsive" src="~/@item.LogoURL" width="300" height="200" alt="Alternate Text" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unvan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Languages.Language)
            </td>
            <td>
                @Html.ActionLink("Güncelle", "Edit", new { id = item.KimlikId })
            </td>
            <td><a href="/Kimlik/Delete/@item.KimlikId">Sil</a> </td>
        </tr>
    }

</table>
