@model IEnumerable<KurumsalWebProjesi.Models.Model.Blog>
@using KurumsalWebProjesi.Helper;
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container position-relative">
        <form method="get" action="@Url.Action("Blog")" class="d-flex gap-2">
            <input type="text" name="search" placeholder="@(HttpContext.GetGlobalResourceObject("Labels", "Blog_Filter_Basligagoreara"))" value="@Request.QueryString["search"]" class="form-control" />

            <select name="filter" class="form-select" onchange="this.form.submit()">
                <option value=""> @(HttpContext.GetGlobalResourceObject("Labels", "Blog_Filter_TummYazilar"))</option>
                <option value="yorumlu" @(Request.QueryString["filter"] == "yorumlu" ? "selected" : "")>@(HttpContext.GetGlobalResourceObject("Labels", "Blog_Filter_Yorumlu"))</option>
                <option value="yorumsuz" @(Request.QueryString["filter"] == "yorumsuz" ? "selected" : "")>@(HttpContext.GetGlobalResourceObject("Labels", "Blog_Filter_Yorumsuz"))</option>
            </select>

            <button type="submit" class="btn btn-primary">Ara</button>
        </form>

        </nav>
    </div>
</div><!-- End Page Title -->
<!-- Blog Posts Section -->
<section id="blog-posts" class="blog-posts section">
  
    <div class="container">
        <div class="row gy-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-6">
                    <!-- 2 sütun için lg ekranlarda 6 birim -->
                    <div style="background-color: whitesmoke; width: 100%; height: auto; text-align: center;">
                        <br />
                        <br />
                        <img src="~/@item.ResimURL" alt="Resim" height="150" width="150" />
                        <hr />
                        <h2 class="title">
                            <a href="/BlogPost/@SeoHelper.ToSeoUrl(item.Baslik).ToLower()-@item.BlogId">@item.Baslik</a>
                        </h2>
                        <a class="btn-get-started" href="/BlogPost/@SeoHelper.ToSeoUrl(item.Baslik).ToLower()-@item.BlogId">@(HttpContext.GetGlobalResourceObject("Labels", "Blog_devamini_oku"))</a>
                        <br />
                        <br />
                        @*<p class="post-category">@item.Icerik</p>*@
                    </div>
                </div>
            }
        </div>
    </div>

</section><!-- /Blog Posts Section -->
