


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}






<main class="main">

   
    <section id="hero" class="hero section dark-background">



        <div id="hero-carousel" class="carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
            @{ Html.RenderAction("SliderPartial", "Home");}
        </div>

    </section>


    <section id="featured-services" class="featured-services section">

        <div class="container">

            <div class="row gy-4">
                <h3>@(HttpContext.GetGlobalResourceObject("Labels", "Home_Hizmetlerimiz"))</h3>
                @foreach (var item in @ViewBag.Hizmetler)
                {
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item item-cyan position-relative">
                            <div class="icon">
                                @*<i class="bi bi-activity"></i>*@
                                <img src="~/@item.ResimURL" width="50" height="50" alt="Alternate Text" title="@item.Baslik" />
                            </div>
                            <a href="~/Iletisim" class="stretched-link">
                                <h3>@item.Baslik</h3>
                            </a>
                            <p>@item.Aciklama</p>
                            <br />
                            <br />
                            <h6>@(HttpContext.GetGlobalResourceObject("Labels", "Home_Hizmet_Hakkinda_Bilgi_Al"))!</h6>
                    
                        </div>
                    </div>
                }


            </div>

        </div>

    </section>

</main>


