@model IEnumerable<KurumsalWebProjesi.Models.Model.Slider>
@{
    Layout = null;
}

<section id="hero" class="hero section dark-background">

    <!-- <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in"> -->

    <div id="hero-carousel" class="carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

       
        <div class="container position-relative">


            @*@foreach (var item in Model)
        {
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2>item.Baslik</h2>
                    <p>item.Aciklama</p>
                    <a href="#about" class="btn-get-started">Daha Fazlasını Oku</a>
                </div>
            </div>

        }*@

        @foreach (var item in Model)
        {

            <div class="carousel-item @(item == Model.First() ? "active" : "")" style="text-align: center; padding: 20px;">
                <div style="text-align:center;">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <img src="~/@item.ResimURL"
                             alt="Alternate Text"
                             class="mx-auto d-block"
                             style="height: 150px; width: 300px;" />

                    </div>

                    <br /><br /><br /><br /><br /><br /><br /><br /><br />

                    <h2>@item.Baslik</h2>
                    <p>@item.Aciklama</p>
                    <a href="~/Iletisim" class="btn-get-started">@(HttpContext.GetGlobalResourceObject("Labels", "Home_slider_bizimleiletisimegec"))</a>
                </div>
            </div>
        }
            @*@foreach (var item in Model)
            {
                <div class="carousel-item @(item == Model.First() ? "active" : "")" style="text-align: center; padding: 20px;">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <img src="~/@item.ResimURL" alt="@item.Baslik" style="height: 150px; width: 300px;" />
                    </div>

                    <h2>@item.Baslik</h2>
                    <p>@item.Aciklama</p>
                </div>
            }*@



            <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

            <ol class="carousel-indicators"></ol>

        </div>
        




    </div>

</section><!-- /Hero Section -->